@charset "utf-8";
/* Redbird Robotics CSS */


body{
	background-image: linear-gradient(#3D3D3D, #1D1D1D);
	background-color: #1D1D1D;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 0;
	color: #fff
}

img{
	width:300px;
}
#transition{
	color: #FFFFFF;
	font-size: 2em;
	margin:20px;
	
	transition-property: font-size, color, margin;
	transition-duration: 3s;
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out 0s;
}
#transition:hover{
	color: #86002E;
	font-size: 3em;
	margin:0px;
	
	transition-property: font-size, color, margin;
	transition-duration: .2s;
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out 0s;
}

#animation{
	animation-name: animate;
	animation-duration:1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 2s
}

@keyframes animate {
	0% {
		transform: rotateZ(0deg) rotateX(0deg) rotateY(20deg);;
	}
	25% {
		transform: rotateZ(30deg) rotateX(55deg) rotateY(0deg);
	}
	50% {
		transform: rotateZ(0deg) rotateX(0deg) rotateY(-20deg);
	}
	75% {
		transform: rotateZ(-30deg) rotateX(-55deg) rotateY(0deg);
	}
	100% {
		transform: rotateZ(0deg) rotateX(0deg) rotateY(20deg);
	}
}

#holder{
	margin-left: 110px;
	padding: 0;
}
.shade{
	background-color: #3D3D3D;
}
.shader{
	background-color: #1D1D1D;
}

main{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

#coolrow{
	color: #FF220C;
}

header{
	text-align: center;
	background-color: #1D1D1D;
	margin-bottom: 0;
	height:125px;
	padding-bottom: 20px;
	padding-top:20px;
	box-shadow: 0px 2px 10px 1px #FF220C;

}

span{
	font-style: italic;
}

.stylerabout{
	background-color: #3D3D3D;
	padding-bottom: 20px;
	padding-top:20px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap:10px;}
.stylerabout>div{
	padding: 20px;
	font-size: 30px;
}
.stylerabout2{
	padding-bottom: 20px;
	padding-top:20px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap:10px;}
.stylerabout2>div{
	padding: 20px;
	font-size: 30px;
	
}


.right{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.left{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}





.innerstylerabout{
	background-color: #3D3D3D;
	padding-bottom: 20px;
	padding-top:20px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap:10px;}
.innerstylerabout>div{
	padding: 20px;
	font-size: 30px;
}
.innerstylerabout2{
	padding-bottom: 20px;
	padding-top:20px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap:10px;}
.innerstylerabout2>div{
	padding: 20px;
	font-size: 30px;
	
}


.innerright{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.innerleft{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

footer{
	box-shadow: 0px -2px 10px 1px #FF220C;
	text-align: center;
	background-color: #1D1D1D;
	margin-bottom: 0px;
	padding-top: 20px;
	font-size: .9em;
	padding-bottom: 20px;
	
}

footer a{
	text-decoration: none;
	color: #AEDAF0;
	
}

nav{
	text-align: center;
	align-content: center;
	background-color: #161616;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	position: fixed;
	height: 100%;
	width: 110px;
	top: 0;
	left: 0;
	box-shadow: 2px 0px 10px 1px #FF220C;
}


hr{
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid #86002E;
}

a#about, a#otherstuff, a#join {
    display: inline-block;
	text-decoration: none;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	color:#fff;
	text-shadow: 1px 1px 1px #86002E, -1px -1px 1px #86002E;
	font-size: 3em;
	margin:10px;
	margin-left:20px;
	margin-right:20px;
	
	transition-property: font-size, color, text-shadow;
	transition-duration: .2s;
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out 0s;
} 
a#about:hover, a#otherstuff:hover, a#join:hover {
	background-repeat: no-repeat;
	background-size: contain;
	color:#9B9B9B;
	text-shadow: 3px 3px 1px #FF220C, -3px -3px 1px #FF220C;
	
	transition-property: font-size, color, text-shadow;
	transition-duration: .2s;
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out 0s;
} 
#about{
	background-image: url("IMG(better)/IUIO0820.JPG");
}
#otherstuff{
	background-image: url("IMG(better)/IMG_E1915.JPG");
}
#join{
	background-image: url("IMG(better)/IMG_1750.JPG");
}

nav a {
	text-decoration: none;
	width: 110px;
}

nav ul {
	list-style-type: none;
	height: 600px;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}
nav li {
	margin-top: 0;
	margin-bottom: 0;
	width: 110px;
}

nav a:visited{
	color: #707070;
}
nav a:hover {
	color: gray;
}
nav a:link {
	color: #fff;
}
#banner{
	width: 100%;
}
#logo{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
}
#tab{
	background-color: #86002E;
}
#feild{ 
	background-color: #96939B;
	height: 700px;
	margin: 20px;
}

#robot{
	width:75px;
	height:75px;
	background-color: #FFFFFF;
	position: absolute;
}

form{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
.abutton{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	border: #FF220C solid 2px;
}
.abutton a {
	text-decoration: none;
	color: #fff;
}
.abutton:hover {
	background-color: #96939B;
}

table{
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
	box-shadow: 0px 0px 10px 2px #FF220C;
}
td{
	border: 2px solid white;
}

